[flake8]
exclude =
    .venv
ignore =
    E501, # Line too long
    E302,
    E305,
    F401,  # Unused import
    E731,
    W503   # Despite flake8 complaints, best practice is line break before operator